// NOTE Pages

.home {
    background-color: #eee;

    .page-header {
        background-size: cover;
        height: 60vh;
        background-image: url("../../img/articles/IMG_0129_0.png");
        transform: translate3d(0px, 0px, 0px);
        .container {
            padding-top: 20vh;
        }
    }

    .main-raised {
        padding: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    #primary {
        margin-top: 120px;
        .card {
            .card-image {
                //margin-top: -80px;
            }
            h2 {
                font-size: ($font-size-h3 - 0.3);
                line-height: 1em;
            }
        }
    }

    #samakids {
        // border-top: 1px solid $grey-300;
        h2 {
            margin-bottom: 0;
            line-height: 42px;
        }
        @media (max-width: ($screen-xs-max - 400)) {
            .samakids {
                background-color: $white;
                border-top: 1px solid $grey-300;
                border-bottom: 1px solid $grey-300;
            }
        }
        @media (max-width: $screen-xs-max) {
            img {
                margin-bottom: -26px;
            }
            .samakids {
                .btn {
                  width: 100%;
                }
            }
        }
        @media (min-width: $screen-sm) {
            img {
                margin-top: 56px;
                margin-bottom: -46px;
            }
        }
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            img {
                margin-top: 90px;
                margin-bottom: -46px;
            }
            .samakids {
                padding-bottom: 30px;
            }
        }
    }

    footer {
        // margin-top: -46px;
    }
}
