// Custom styles
// NOTE Core
body {
    background-color: $white-color;
}

.wrapper {
    background: url("../../img/bg_main.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

#preheader {
    padding: 40px 0;
    background-color: $white;
    @media (max-width: $screen-xs-max) {
        display: none;
    }

    .form-group {
        margin: 0;
        padding: 0;

        input {
            width: 70%;
            margin-right: 10px;
        }

        input,
        span {
            float: left;
        }
    }

    .dropdown {
        z-index: 1035;

        button {
            margin: 0;
        }
    }
}
// NOTE Typography
.text-primary {
    color: $brand-primary;
}
.text-public {
    color: $brand-public;
}
.text-enterprise {
    color: $brand-enterprise;
}
.card-title,
.footer-big h4,
.footer-big h5,
.footer-brand,
.info-title,
.media .media-heading,
.title {
    font-weight: $font-weight-extra-bold;
    font-family: $font-family-sans-serif;
}
// NOTE navbar
.navbar {
    @include shadow-2dp();
    border-radius: 0;

    .navbar-nav {
        li {
            a {
                font-weight: 500;
                font-size: 14px;
                color: $grey-600 !important;

                &:hover {
                    color: $brand-primary !important;
                }
            }

            .active {
                a {
                    background-color: #f6f6f6 !important;
                    color: $black !important;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        .navbar-brand {
            display: none;
        }

        .navbar-right {
            display: none;
        }
    }
}
// NOTE Header
.header {
    background-color: #afafaf;
}
// NOTE Cards
.card {
    .content-primary,
    .header-primary {
        background: linear-gradient(60deg, $red, $red-A700);
    }

    .content-public,
    .header-public {
        background: linear-gradient(60deg, $light-blue-200, $light-blue-400);
    }

    .content-enterprise,
    .header-enterprise {
        background: linear-gradient(60deg, $light-blue-700, $light-blue-900);
    }

    .content-neutral,
    .header-neutral {
        background: linear-gradient(60deg, $grey-700, $grey-700);
    }
}
.card-profile {
    ul{
        list-style: none;
        padding: 0;
        max-width: 240px;
        margin: 10px auto;

        li{
            color: $gray-color;
            text-align: center;
            padding: 12px 0;
            border-bottom: 1px solid rgba($gray-color,.3);

            &:last-child{
                border: 0;
            }
            b{
                color: $black-color;
            }
            i{
                top: 6px;
                position: relative;
            }
            a {
                &:hover {
                    color: $grey-600;
                }
            }
        }
    }
}
// NOTE Buttons
.btn,
.navbar .navbar-nav > li > a.btn {
    &.btn-enterprise {
        @include btn-styles($brand-enterprise);
    }

    &.btn-public {
        @include btn-styles($brand-public);
    }
}
// NOTE Icons
.icon {
    &.icon-enterprise {
        color: $brand-enterprise;
    }
}
// NOTE Footer
footer {
    .info-horizontal {
        padding-top: 0;

        .icon {}

        p {
            margin-top: 40px;
        }
    }

    .facebook {
        .info-horizontal {
            margin-left: 0;
            max-width: 100%;
            @media (max-width: $screen-sm-max) {
                border-bottom: 1px solid $grey-200;
                max-width: 100%;
                width: 100%;
            }
        }
    }

    h5 {
        font-size: ($font-size-h5 - 0.1);
    }
}
