// Custom variables

// NOTE Bootstrap brand color customization
$brand-test: $red;
$brand-primary: $red;
$brand-public: $light-blue-400;
$brand-enterprise: $light-blue-900;

$link-color: $brand-primary;
